---
title: Puzzle Time!
---

%body
	#puzzleBg
		#title Puzzle Time!
		#columnHints
			%ul
				%li
				%li
				%li
				%li
		#rowHints
			%ul
				%li
				%li
				%li
		#board
			%ul{:id => "puzzleTiles"}
		#buttons
			%ul
				%li Check Solutions
				%li	New Puzzle